// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

label {
  // display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  display: block;
}